

.home {
    height: 100%;
    display: flex;
    align-items: center;
}
.home_content {
 

}
.home_content div:first-child {
width: 100%;
}
.home_content p {
    font-family: Roboto;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 47px;
letter-spacing: 2.4799699783325195px;
text-align: center;
color: #000000;

text-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15);

}

.my_slider {
   margin-top: 250px;
   margin-bottom: 50px;
}
.my_slider button{
   display:none !important;
}
.my_slider ul button{
    display: flex !important;
    
}
.home_btns{
display: flex;
flex-direction: column;
align-items: center;
margin-top: 20px;
}

.home_btns button{
    height: 50px;
width: 100%;
background: #000000;
border-radius: 0px;
color: #fff;
margin: 10px 0;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 19px;
letter-spacing: 1px;
text-align: center;
border: none;
}
.home_btns button:nth-child(2){
    background: #FFFFFF;
border: 1px solid #0B0B0B;
box-sizing: border-box;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 19px;
letter-spacing: 1px;
text-align: center;
color: #000000 !important;

}